# Logs
*.log

# Dependency directories
node_modules/
vendor/

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE and editor settings
.vscode/
.idea/

# Build directories
dist/
build/

# Ignore any file or directory named "secret"
secret
